<!-- ユーザーがログインしているかで条件分岐 -->
<% if user_signed_in? %>
    <!-- ログインしているユーザーがお気に入りしたかどうかで分岐 -->
    <% if story.favorited_by?(current_user) %>
        <p><span>お気に入り解除: </span><%=link_to story.favorites.count, story_favorites_path(story.id), method: :delete, remote: true %>
            <i class="fa fa-star" aria-hidden="true" style="color: rgb(255,255,0);"></i>
        </p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to story.favorites.count, story_favorites_path(story.id), method: :post, remote: true%>
        	<i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= story.favorites.count %></p>
<% end %>