<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="d-flex justify-content-end">
				<div id="flipbook">
	  				<div class="box">
	  					<p>どうぞよろしくお願いいたします。</p>
	  				</div>
	  				<div class="box">
	  					<p>では失礼いたします。
	  						お茶、とってもおいしかったです。</p>
	  				</div>
	  				<div class="box">
	  					<p>どうぞよろしくお願いいたします。</p>
	  				</div>
	  				<div class="box">
	  					<p>では失礼いたします。
	  						お茶、とってもおいしかったです。</p>
	  				</div>
	  			</div>
  			</div>
		</div>
	</div>
</div>
<script src="story.js"></script>
