

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
 	font-family: 'Yu Mincho';
 }

 header {
 	background-color :rgb(198,230,255);
 	height: 90px;
 	text-align: left;
 	position: relative;
 }

 header img {
 	width: 150px;
 	height: 90px;
 }
.navbar-nav a {
  cursor: pointer;
}

.bg-sky {
	background-color :rgb(198,230,255);
}

.btn-sky {
	background-color :rgb(198,230,255);
}

.btn-header {
	color: white;
	display: block;
	line-height: 20px;
}


.btn-header:hover {
	color: white;
	font-size: 20px;
	-webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

footer {
	background-color :rgb(198,230,255);
 	height: 90px;
 	position: relative;
}

footer img {
 	width: 150px;
 	height: 90px;
 }

#footer-character {
	text-align: center;
	line-height: 90px;
	font-size: 20px;
	height: 30px;
	width: 100%;
}

.rogo {
	position: absolute;
	right: 18px;
	bottom: 2px;
}

@media screen and (max-width:425px) {
	#footer-character {
		display: none;
	}
}